/* rests */
* {
  margin: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Spartan", sans-serif;
  font-weight: 400;
}

button {
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  outline: none;
}

/* vta : voice to action  */
/* wrapper */
.vta__container {
  /* css variables */
  --vta-primary-color: rgb(85, 179, 238);
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1rem;
}

.vta__header {
  padding: 2rem 0;
}

.vta__header h2 {
  font-size: 2rem;
  color: var(--vta-primary-color);
  margin-bottom: 1rem;
}

.vta__header p {
  line-height: 1.6;
  color: #444444;
  margin: 1.5rem 0;
}

.vta__header a {
  color: var(--vta-primary-color);
  text-decoration-style: dotted;
}

.vta__button {
  display: block;
  width: 100%;
  cursor: pointer;
  padding: 0.5em 2em;
  font-size: 0.875rem;
  color: white;
  background-color: var(--vta-primary-color);
  border-radius: 0.15em;
}

.vta__button:hover,
.vta__button.loading {
  opacity: 0.7;
}

.vta__content {
  width: 100%;
  padding-bottom: 1.5rem;
  display: flex;
}

.vta__content h5 {
  text-transform: capitalize;
  font-weight: 400;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: thin solid rgba(0, 0, 0, 0.1);
}

.vta__content div:first-child {
  flex-basis: 30%;
  margin-right: 5%;
}

.vta__content div:last-child {
  position: relative;
  flex: 1;
  color: #ffffff;
  background-color: rgb(85, 179, 238);
}

.vta__content div:last-child h5 {
  padding: 1rem 0;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  border: none;
}

.vta__result {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  text-align: center;
  font-size: 2.5rem;
}

.vta__result small {
  font-weight: 400;
  font-size: 0.75rem;
  font-style: italic;
}

.vta__progress {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
}

.vta__progress span:before {
  content: "";
  margin: 0 auto;
  display: block;
  position: relative;
  top: -0.5rem;
  width: 1rem;
  height: 1rem;
  /* background-color: var(--vta-primary-color); */
  border: thick solid var(--vta-primary-color);
  border-color: transparent var(--vta-primary-color) transparent transparent;
  border-radius: 50%;
  animation: vta_loading_animation 1s linear infinite;
}

.vta__progress span {
  text-align: center;
}

/* utils */
.vta-hidden {
  display: none;
}

/* animation */
@keyframes vta_loading_animation {
  to {
    transform: rotate(360deg);
  }
}
